<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" />
    </div>

    <button class="button" [disabled]="form.invalid">Login</button>
    <p class="signup-link">
      Don't have an account?
      <a [routerLink]="['/auth', 'signup']">Sign Up</a>
    </p>
  </div>
  @if(emailIsInvalid){
  <p class="control-error">Invalid email address entered.</p>
  } @if(passwordIsInvalid){
  <p class="control-error">
    Invalid password entered - must be (at least 6 characters long.)
  </p>
  }
</form>
